# Environments
.venv/
__pycache__/

# Secrets and Credentials
.env
credentials.json
token.json
gemini_token.json
google_token.json
*.json

# IDE
.vscode/
.idea/

# Python
*.pyc
*.pyo
*.pyd

# Mac
.DS_Store
